PORT=8000
CORS_ORIGIN="http://localhost:5173"
MONGODB_URI="mongodb://127.0.0.1:27017/soActive"
ACCESS_TOKEN_SECRET="supersecretkey"

# PORT=8000
# CORS_ORIGIN="http://localhost:8080"
# MONGODB_URI="mongodb+srv://poojasoftiatric:poojasoftiatric@auvie.bvosjay.mongodb.net/"
# ACCESS_TOKEN_SECRET="supersecretkey"
# MONGODB_URI="mongodb://localhost:27017"